# Environnement
NODE_ENV=

PORT=3000
HOST=127.0.0.1

FRONTEND_URL=http://localhost:4200

# PORT en dur car pas d'interpolation dans .env
CORS_ORIGINS=http://localhost:4200,http://localhost:3000
CORS_METHODS=GET,HEAD,PUT,PATCH,POST,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=Content-Type,Authorization,Accept,X-Requested-With
CORS_CREDENTIALS=true
PORT=3000

# Connexion à MySQL
DATABASE_URL="mysql://user:password@localhost:3306/db_name"

# Clés FedaPay
FEDAPAY_PUBLIC_KEY=
FEDAPAY_SECRET_KEY=
FEDAPAY_ENVIRONMENT=

# Clé secrète JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# GGmail SMTP sécurisé via Nodemailer
EMAIL_SERVICE=smtp.gmail.com
EMAIL_USER=
EMAIL_PASS=
EMAIL_PORT=465
EMAIL_SECURE=true